body {
    font-family: roboto, sans-serif;
    font-weight: 400;

    font-style: normal;
}
div {
    background: gray;
    width: 75%;
    height: 150px;
    margin: 10px;
    font-size: 16px;
}


div:nth-child(even) {
    width: 50%;
}
div:hover h1{
    font-size: 7em;
}
div:hover h2{
    font-size: 6em;
}
div:hover h3{
    font-size: 4em;
}
h1 {
    font-size: 3.5em;
    font-weight: 400;

}
h2{
    font-size: 3em;
    font-weight: 400;
}
h3 {
    font-size: 2em;
    font-weight: 400;
}
.div3 h2{
    font-size: 1.5em;
}
.div3 h3{
    font-size: 1em;
}
.div3:hover h2{
    font-size: 3em;
}
.div3:hover h3{
    font-size: 2em;
}